[submodule "Test/googletest"]
	path = Test/googletest
	url = https://github.com/google/googletest.git
[submodule "CMake/Modules"]
	path = CMake/Modules
	url = git@github.com:i0qh2n/CMakeModules.git
[submodule "Internal/Utils"]
	path = Internal/Utils
	url = git@github.com:i0qh2n/Module.Utils.git
